@import url('https://fonts.googleapis.com/css?family=Bitter|Raleway|Roboto|Roboto+Mono&display=swap');
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("./vendors/prism.css");
@import url("./vendors/bootstrap.css");
@import url("./ai/blockquote.css");
@import url("./ai/table.css");
@import url("./ai/heading.css");
@import url("./ai/links.css");
@import url("./ai/euler.css");
@import url("./ai/btn-primary.css");
@import url("./ai/code.css");

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.04em;
  line-height: 1.8em;
}

header {
  margin-bottom: 1em;
}

.ai-author,
.ai-date {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.04em;
  line-height: 0em;
}

hr {
	height: 6px;
	background: url(https://ibrahimjabbari.com/images/hr-11.png) repeat-x 0 0;
  border: 0;
}

li {
  margin-bottom: 0.8em;
}

.ai-mark {
  background-color: rgb(195, 233, 222);
}

.react-syntax-highlighter-line-number {
  color: gray;
  margin-right: 0.5rem;
}