blockquote {
  position: relative;
  background: #fafafa;
  margin: 1em 1em 1.5em 1em;
  font-size: 16px;
  padding: 2.1em 2.5em;
  border-radius: 5px;
  border-left: 15px solid #1ABC9C;
  box-shadow: 11px 10px 0px #eee;
  font-style: italic;
}

blockquote::before{
  content: "\201C"; /*Unicode for Left Double Quote*/
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #1ABC9C;
  position: absolute;
  left: 10px;
  top:15px;
}

blockquote .ai-author {
  font-size: 20px;
  margin-top: 0.8em;
  margin-right: auto;
  color: #1ABC9C;
  font-family: 'Bitter', serif;
}