.btn-link {
  font-weight: 400;
  color: #1ABC9C;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

.btn-link:hover {
  color: rgb(19, 126, 104);
  text-decoration: underline;
}

.btn-link:focus, .btn-link.focus {
  text-decoration: underline;
  box-shadow: none;
}

.btn-link:disabled, .btn-link.disabled {
  color: #6c757d;
  pointer-events: none;
}