.navbar,
.navbar * {
  background: #1ABC9C;
  color: #fff;
  font-family: "Raleway", sans-serif;
}

.navbar-brand,
.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff !important;
  text-decoration: none !important;
  max-height: 30px !important;
}

.navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Bitter", serif !important;
}

.navbar-brand img {
  height: 30px;
  width: auto;
  border-radius: 0.5em;
}

span.navbar-toggler-icon {
  color: #fff;
}


#logo {
  color: #fff;
}

.ai-active {
  background: #fff;
  border-style: none;
  border-color: #fff;
  /* border-radius: 5px; */
  color: #1ABC9C !important;
}